<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mappe2_s344104_s344045">
    <permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mappe2">
        <activity
            android:name=".ListReservations"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddReservation"
            android:parentActivityName=".ListReservations"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".ListFriends"
            android:parentActivityName=".ListReservations"
            android:launchMode="singleTop">

        </activity>

        <activity android:name=".ListRestaurants"
            android:parentActivityName=".ListReservations"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".RegisterFriend"
            android:parentActivityName=".ListReservations"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".RegisterRestaurant"
            android:parentActivityName=".ListReservations"
            android:launchMode="singleTop">

        </activity>
        <activity android:name=".Settings"
            android:parentActivityName=".ListReservations"
            android:launchMode="singleTop">

        </activity>
        <service android:name="com.example.mappe2_s344104_s344045.PeriodicService"/>
        <service android:name="com.example.mappe2_s344104_s344045.MyService"/>
        <receiver android:name=".MyBroadcastReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.example.mappe2_s344103_s344045.my_broadcast"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>